<div id="cart_page" class="row">
  <div class="twelve columns">
    <!-- Cart -->
    {% if cart.items != blank %}
    <form id="cart-form" method="post" action="/cart">
      <h1>Cart</h1>
      
      <!-- Info bar -->
      <div class="row margin_bottom_2">
        <div class="three mobile-one columns">
          <span>Item</span>
        </div>
        <div class="three mobile-one columns align_center">
          <span>Quantity</span>
        </div>
        <div class="three mobile-one columns align_center">
          <span>Remove</span>
        </div>
        <div class="three mobile-one columns align_right">
          <span>Price</span>
        </div>
      </div>
      <ul id="cart_items">
        {% for item in cart.items %}
        <li class="cart_item row" data-item-id="{{ item.id }}">
          <!-- Image and name -->
          <div class="three mobile-one columns">
            <div class="cart_item_image">
              <a href="{{ item.product.url }}">
                <img src="{{ item.product.image | product_image_url size:"medium" }}" alt="{{ item.name }}" />
              </a>
              <p>
                <span class="cart_item_title {% if item.product.has_default_option %}optionless{% endif %}"><a href="{{ item.product.url }}">{{ item.product.name }}</a></span>
                {% unless item.product.has_default_option %}
                <span class="cart_item_description">{{ item.option.name }}</span>
                {% endunless %}
              </p>
            </div>
          </div>
          <!-- Quantity -->
          <div class="three mobile-one columns align_center">
            <span class="cart_item_qty">{{ item | item_quantity_input: itemid, 'quantity_input') }}</span>
          </div>
          <!-- Remove -->
          <div class="three mobile-one columns align_center">      
            <div class="cart_item_remove"><a href="#" title="Remove item" onclick="Store.removeItem({{ item.id }}); return false" class="circle remove"><em>Remove</em></a></div>
          </div>
          <!-- Price -->
          <div class="three mobile-one columns align_right">
            <div class="cart_item_price"><p>{{ item.price | money_with_sign }}</p></div>
          </div>
        </li>
        {% endfor %}
        
        {% if cart.discount.enabled %}
        <li id="cart_discount" class="cart_item">
          {% if cart.discount.pending %}
          <div class="cart_left">               
            <div id="cart_discount_input">{{ cart.discount | discount_code_input }}</div>
            <label id="cart_discount_label" for="cart_discount_code"><p>Have a discount code?</p></label>
          </div>
          
          <div class="cart_right">      
            <div id="cart_discount_value" class="cart_item_price"><p>(optional)</p></div>
          </div>
          {% elsif cart.discount.free_shipping %}
          <div class="cart_left">       
            <label id="cart_discount_label" for="cart_discount_code"><p>{{ cart.discount.name }}</p></label>        
          </div>
          
          <div class="cart_right">      
            <div id="cart_discount_value" class="cart_item_price"><p></p></div>
          </div>
          {% else %}
          <div class="cart_left">       
            <label id="cart_discount_label" for="cart_discount_code"><p>{{ cart.discount.name }}</p></label>        
          </div>
          
          <div class="cart_right">      
            <div id="cart_discount_value" class="cart_item_price"><p>{{ cart.discount.amount | money_with_sign }}</p></div>
          </div>
          {% endif %}
        </li>
        {% endif %}
       
        {% if cart.shipping.enabled %}
        {% if cart.shipping.strict %}
        <li id="cart_shipping" class="cart_item clearfix">
          <div class="cart_left">
            <label for="country" class="left mobile-one shipping_label">Shipping to: </label>
            <div id="cart_shipping_select" class="left mobile-two end">{{ store.country | country_select }}</div>    
          </div>
          <div class="cart_right">      
            <div id="cart_shipping_value" class="cart_item_price"><p{% if cart.shipping.pending %} style="display:none"{% endif %}>{% unless cart.shipping.pending %}{{ cart.shipping.amount | money_with_sign }}{% endunless %}</p></div>
          </div>
        </li>
        {% else %}
        <li id="cart_shipping" class="cart_item">
          <div class="cart_left">
          <label><p>Shipping:</p></label>
          </div>
          <div class="cart_right">      
            <div id="cart_shipping_value" class="cart_item_price"><p{% if cart.shipping.pending %} style="display:none"{% endif %}>{% unless cart.shipping.pending %}{{ cart.shipping.amount | money_with_sign }}{% endunless %}</p></div>
          </div>
        </li>
        {% endif %}
        {% endif %}
       
       <li class="cart_item align_right">
        <span class="cart_left"><label class="cart_total_label">Total: <span id="total_price">{{ cart.total | money_with_sign }}</span></label>
          <span id="cart_total_value" class="cart_item_price">
            <p class="cart_total">
              {% unless cart.shipping.enabled %}
              <span id="total_plus_shipping">+ applicable shipping</span>
              {% endunless %}
            </p>
          </span>
        </span>
       </li>

       <li class="cart_item align_right">
        <div class="cart-update">
          <button id="update-btn-footer" class="update-btn" name="update" type="submit" title="Update Total">
            <span>Update</span>
          </button>
        </div>
       </li>

       <li class="cart_item_single align_right">
        <div class="cart_left">&nbsp;<!--preso only--></div>
        <div class="cart_right"><button type="submit" id="cart_button_checkout" name="checkout" title="Checkout" class="button">Checkout Now</button></div>
       </li>
      </ul>
    </form>
    {% endif %}

    <!-- Cart empty -->
    <div id="cart_empty" class="align_center" {% if cart.items != blank %} style="display:none"{% endif %}>
      <h1>Your cart is empty</h1>
      <p>Sounds like a good time to <a href="/">start shopping</a>.</p>
    </div>
  </div>
</div>
